<!DOCTYPE html>
<html>
<head>
	
	<script type="text/javascript" src="{{ url_for('static', filename='tether.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='element_manager.js') }}"></script>
	
	
	<!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/02c264cb23.js"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="panel panel-default">test</div>
	
	 <body>
      <div id="fb-root"></div>
    <!-- Navigation -->
       <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><div><span style="font-size:35px">Trafic-idf</span><i class="fas fa-car fa-xs"></i><span style="font-size:35px">eu</span>
		
		<img style="width:50px;height:50px;" alt="Responsive image"  class="img-fluid d-none"  src="{{ url_for('static', filename='ico-idf.png') }}"/>
		</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
              <a class="nav-link" href="#">Trafic
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
 <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8" style="height:100%">

          <h1 class="my-4">Cumul des bouchons 
            <small>Ile de France</small>
          </h1>

          <!-- Blog Post -->
          <div class="card mb-4" id="linechart-container" style="min-height:600px;">
           <svg class="linechart" ></svg>
            <div class="card-body alert alert-secondary d-none" id="traffic-state-1">
              <h2 class="card-title ">Circulation fluide</i></h2>
              <p class="card-text forecast-state-1 d-none">Conforme aux prévisions <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-success forecast-state-2 d-none">Meilleur que prévu <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-danger forecast-state-3 d-none">Pire que les prévisions <span class="float-right nb_kilometer-jam"></span></p>
            </div>
			<div class="card-body alert alert-secondary d-none" id="traffic-state-2">
              <h2 class="card-title ">Circulation qui se densifie</h2>
              <p class="card-text  forecast-state-1 d-none">Conforme aux prévisions <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-success forecast-state-2 d-none">Meilleur que prévu <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-danger  forecast-state-3 d-none">Pire que les prévisions<span class="float-right nb_kilometer-jam"></span></p>
            </div>
			<div class="card-body alert alert-secondary d-none" id="traffic-state-3">
              <h2 class="card-title ">Circulation difficile</h2>
              <p class="card-text forecast-state-1 d-none">Conforme aux prévisions <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-success forecast-state-2 d-none">Meilleur que prévu <span class="float-right nb_kilometer-jam"></span></p>
			  <p class="card-text text-danger  forecast-state-3 d-none">Pire que les prévisions <span class="float-right nb_kilometer-jam"></span></p>
            </div>
            <div class="card-footer text-muted">
              Dernière actualisation à <span id="last-refresh"> - Pas d'actualisation aujourd'hui - </span>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <h1 class="my-4" style="height:45px">  
            <small>  </small>
          </h1>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Historique</h5>
            <div class="calendar-body" id="calendar-block-1">
				<svg class="calendar" width="400" height="300"></svg>
            </div>
          </div>

		  <div class="card my-4">
            <h5 class="card-header">Temps réel</h5>
            <div class="map-body" id="map-image">
				<img class="img-fluid" alt="Responsive image" src="{{url_for('static', filename='current_img.png')}}" />
            </div>
          </div>


        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Version test</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>
var data_xyz = {{ data_json|tojson }};
var JSONObject = JSON.parse(data_xyz);
console.log(JSONObject)

var heightLinechart=parseInt(d3.select("#linechart-container").style("height"));
var widthLinechart =parseInt(d3.select("#linechart-container").style("width"));

/*Rework date */
//var dateCurrentTraffic=new Date(0);
//	dateCurrentTraffic.setUTCSeconds(JSONObject.current_traffic[0].date_raw/1000);
//var dateForecastTraffic=new Date(0);
//	dateForecastTraffic.setUTCSeconds(JSONObject.forecast_traffic[0].date_raw/1000);
//	dateForecastTraffic.setDate(dateCurrentTraffic.getDate());
//	dateForecastTraffic.setMonth(dateCurrentTraffic.getMonth());
//	dateForecastTraffic.setFullYear(dateCurrentTraffic.getFullYear());
//console.log(dateCurrentTraffic);
//console.log(dateForecastTraffic);


var svg = d3.select(".linechart");

svg.attr("width",widthLinechart);
svg.attr("height",heightLinechart);

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +widthLinechart - margin.left - margin.right,
    height = +heightLinechart - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%d-%b-%y");

var x = d3.scaleTime()
    .rangeRound([0, width]);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

var line = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r4+d.r3); })
var line2 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r2); })
var line3 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r1); })
var line4 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r4+d.r3+d.r2); })
/*Prevision de traffic*/
var line5 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.fr4+d.fr3); })


	
  x.domain(d3.extent(JSONObject.forecast_traffic, function(d) { return d.date_raw; }));
  y.domain([0,d3.max(JSONObject.current_traffic, function(d) { return (0+d.r4+d.r3); })+200]);
  /*y.domain([0,800]);*/

  g.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
    .select(".domain")
      .remove();

  g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Kilomètres");

  g.append("path")
      .datum(JSONObject.current_traffic)
      .attr("fill", "none")
      .attr("stroke", "red")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line);
	  
 /*     
  g.append("path")
      .datum(JSONObject.current_traffic)
      .attr("fill", "none")
      .attr("stroke", "orange")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line2);*/
 /*     
  g.append("path")
      .datum(JSONObject)
      .attr("fill", "none")
      .attr("stroke", "green")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line3);

  g.append("path")
      .datum(JSONObject)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line4);
	  */
	  
 g.append("path")
     .datum(JSONObject.forecast_traffic)
     .attr("fill", "none")
     .attr("stroke", "black")
     .attr("stroke-linejoin", "round")
     .attr("stroke-linecap", "round")
     .attr("stroke-width", 1.5)
     .attr("d", line5);
	  
var legend_keys = [{name:"Prévision",color:"black"},{name:"En direct",color:"red"}];

var lineLegend = svg.selectAll(".lineLegend").data(legend_keys)
    .enter().append("g")
    .attr("class","lineLegend")
    .attr("transform", function (d,i) {
            return "translate(" + (width-15) + "," + ((i*20)+15)+")";
        });

lineLegend.append("text").text(function (d) {return d.name;})
    .attr("transform", "translate(15,9)"); //align texts with boxes

lineLegend.append("rect")
    .attr("fill", function (d, i) {return d.color; })
    .attr("width", 10).attr("height", 10);
	
	
	
/* Calendar*/

offsetLeft = ($('#calendar-block-1')[0].offsetWidth-(7*40))/2;

var calendar = d3.select(".calendar")

//var scaleCalendar = d3.scaleLinear().domain([0, d3.max(JSONObject.daily_report.map(x => x['ratio_TrafficJam']) )]).range([0, 1]);
var scaleCalendar = d3.scaleLinear().domain([0, 10]).range([0, 1]);
 
var calendar_legend=calendar.append("g")
	calendar_legend.append("text").text("Lun").attr("transform","translate("+(offsetLeft+6)+",40)");
	calendar_legend.append("text").text("Mar").attr("transform","translate("+(offsetLeft+46)+",40)");
	calendar_legend.append("text").text("Mer").attr("transform","translate("+(offsetLeft+86)+",40)");
	calendar_legend.append("text").text("Jeu").attr("transform","translate("+(offsetLeft+126)+",40)");
	calendar_legend.append("text").text("Ven").attr("transform","translate("+(offsetLeft+166)+",40)");
	calendar_legend.append("text").text("Sam").attr("transform","translate("+(offsetLeft+206)+",40)");
	calendar_legend.append("text").text("Dim").attr("transform","translate("+(offsetLeft+246)+",40)");
 
//Ajout jours fictifs pour commencer le calendrier au bon endroit
 
var dayBeginCalendar=new Date(JSONObject.daily_report[0]['date_traffic']).getDay()
console.log(dayBeginCalendar)
for(i=0;i<dayBeginCalendar-1;i++) {
	JSONObject.daily_report.unshift({date_traffic:'XXXX-XX-XX',flag_validity:'KO',ratio_TrafficJam:'0'})
}
var calendar_blocks = calendar.selectAll(".dayblock")
  .data(JSONObject.daily_report)
	.enter()
	.append("g")
	

		
	
	calendar_blocks.append("rect")
		.attr("class", "dayblock")                    
		.attr("stroke", function (d, i) { 
			if(d['date_traffic']=='XXXX-XX-XX') {return "white"} //Si fausse date
			else return "black";
		})
		.attr("width", 40)
		.attr("height", 40)
		.attr("fill",function (d,i) { 
			if(d['date_traffic']=='XXXX-XX-XX') {return "white"} //Si fausse date
			if(parseInt(d['ratio_TrafficJam'])==-1) {return "white"}
			else return d3.interpolateRdYlGn(scaleCalendar(d['ratio_TrafficJam']))
		})
		.attr("x", function (d,i) { return (i%7)*40+offsetLeft;})
		.attr("y", function (d,i) { return Math.trunc(i/7)*40+60;})

	calendar_blocks.append("text").text(function (d) {
			if(d['date_traffic']=='XXXX-XX-XX') {return ""} //Si fausse date
			else return d['date_traffic'].substr(8,2);
		})
		.attr("transform", function (d,i) { return "translate("+((i%7)*40+12+offsetLeft)+","+(Math.trunc(i/7)*40+25+60)+")";}); //align texts with boxes
	

</script>
</body>
</html>