<!DOCTYPE html>
<html>
<head>
	
	<script type="text/javascript" src="{{ url_for('static', filename='tether.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.slim.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
	
	
	<!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="panel panel-default">test</div>
	
	 <body>
      <div id="fb-root"></div>
    <!-- Navigation -->
       <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>MyTraffic</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
              <a class="nav-link" href="#">Trafic
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
 <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Cumul des bouchons 
            <small>Ile de France</small>
          </h1>

          <!-- Blog Post -->
          <div class="card mb-4">
           <svg class="linechart" id="linechart-container"></svg>
            <div class="card-body">
              <h2 class="card-title">Situation normale</h2>
              <p class="card-text">Trafic normal au prévisions</p>
            </div>
            <div class="card-footer text-muted">
              Dernière actualisation à 19:02
              <a href="#">None</a>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <h1 class="my-4" style="height:45px">  
            <small>  </small>
          </h1>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Historique</h5>
            <div class="card-body">
              <div class="row">
					<svg class="calendar" width="300" height="300"></svg>
              </div>
            </div>
          </div>



        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Version test</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>
var data_xyz = {{ data_json|tojson }};
var JSONObject = JSON.parse(data_xyz);
console.log(JSONObject)

var heightLinechart=parseInt(d3.select("#linechart-container").style("height"));
var widthLinechart =parseInt(d3.select("#linechart-container").style("width"));



var svg = d3.select(".linechart");

svg.attr("width",widthLinechart);
svg.attr("height",heightLinechart);

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +widthLinechart - margin.left - margin.right,
    height = +heightLinechart - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%d-%b-%y");

var x = d3.scaleTime()
    .rangeRound([0, width]);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

var line = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r4+d.r3); })
var line2 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r2); })
var line3 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r1); })
var line4 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.r4+d.r3+d.r2); })
/*Prevision de traffic*/
var line5 = d3.line()
    .x(function(d) { return x(d.date_raw); })
    .y(function(d) { return y(d.fr4+d.fr3); })


	
  x.domain(d3.extent(JSONObject.forecast_traffic, function(d) { return d.date_raw; }));
  y.domain([0,d3.max(JSONObject.current_traffic, function(d) { return (0+d.r4+d.r3); })+150]);
  /*y.domain([0,800]);*/

  g.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
    .select(".domain")
      .remove();

  g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Kilomètres");

  g.append("path")
      .datum(JSONObject.current_traffic)
      .attr("fill", "none")
      .attr("stroke", "red")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line);
	  
 /*     
  g.append("path")
      .datum(JSONObject.current_traffic)
      .attr("fill", "none")
      .attr("stroke", "orange")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line2);*/
 /*     
  g.append("path")
      .datum(JSONObject)
      .attr("fill", "none")
      .attr("stroke", "green")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line3);

  g.append("path")
      .datum(JSONObject)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line4);
	  */
	  
  g.append("path")
      .datum(JSONObject.forecast_traffic)
      .attr("fill", "none")
      .attr("stroke", "black")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line5);
	  
var legend_keys = [{name:"Prévision",color:"black"},{name:"En direct",color:"red"}];

var lineLegend = svg.selectAll(".lineLegend").data(legend_keys)
    .enter().append("g")
    .attr("class","lineLegend")
    .attr("transform", function (d,i) {
            return "translate(" + (width-15) + "," + ((i*20)+15)+")";
        });

lineLegend.append("text").text(function (d) {return d.name;})
    .attr("transform", "translate(15,9)"); //align texts with boxes

lineLegend.append("rect")
    .attr("fill", function (d, i) {return d.color; })
    .attr("width", 10).attr("height", 10);
	
	
	
/* Calendar*/

var calendar = d3.select(".calendar")

 
 
 var calendar_blocks = calendar.selectAll(".dayblock")
  .data(JSONObject.daily_report)
	.enter()
	.append("rect")
	.attr("class", "dayblock")
	.attr("fill", function (d, i) {return "white";})
	.attr("stroke", function (d, i) {return "black";})
    .attr("width", 40)
	.attr("height", 40)
	.attr("x", function (d,i) { return (i%7)*40;})
	.attr("y", function (d,i) { return Math.trunc(i/7)*40;})
	

</script>
</body>
</html>